In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv(
    'owid-covid-data.csv')

In [4]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166321,ZWE,Africa,Zimbabwe,2022-03-01,236871.0,491.0,413.000,5395.0,0.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166322,ZWE,Africa,Zimbabwe,2022-03-02,237503.0,632.0,416.286,5396.0,1.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166323,ZWE,Africa,Zimbabwe,2022-03-03,237503.0,0.0,362.286,5396.0,0.0,0.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166324,ZWE,Africa,Zimbabwe,2022-03-04,238739.0,1236.0,467.429,5397.0,1.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166325,ZWE,Africa,Zimbabwe,2022-03-05,239019.0,280.0,459.429,5397.0,0.0,0.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

**Hvilket land i europa har testet flest personer pr. tusinde indbyggere (total_tests_per_thousand), siden juli 2021 til nu?**

In [6]:
mask = df['continent'] == 'Europe'

max_cases = df[mask].groupby('location').agg({'total_tests_per_thousand': [
    'max']})
print(max_cases.sort_values([('total_tests_per_thousand', 'max')], ascending=False))

                       total_tests_per_thousand
                                            max
location
Cyprus                                29001.016
Austria                               17837.426
Faeroe Islands                        15857.236
Denmark                               10827.655
Slovakia                               9115.256
United Kingdom                         6842.977
Greece                                 6452.815
Luxembourg                             6429.773
Czechia                                4836.102
Andorra                                3882.243
Portugal                               3794.332
France                                 3673.113
Latvia                                 3609.335
Malta                                  3383.451
Italy                                  3132.526
Iceland                                3084.167
Lithuania                              3030.049
Belgium                                2736.357
Estonia                                2373.591
Liechtenstein                          2369.216
Ireland                                2293.095
Switzerland                            2165.287
Slovenia                               2139.662
Norway                                 1978.618
Russia                                 1904.963
Spain                                  1835.037
Finland                                1803.872
Sweden                                 1770.741
Netherlands                            1652.357
Bulgaria                               1337.664
Germany                                1326.599
Belarus                                1324.876
Serbia                                 1282.703
Croatia                                1111.909
Romania                                1110.925
Hungary                                1076.185
Kosovo                                  992.238
North Macedonia                         912.917
Poland                                  898.461
Albania                                 553.446
Bosnia and Herzegovina                  459.421
Ukraine                                 443.760
Gibraltar                                   NaN
Guernsey                                    NaN
Isle of Man                                 NaN
Jersey                                      NaN
Moldova                                     NaN
Monaco                                      NaN
Montenegro                                  NaN
San Marino                                  NaN
Vatican                                     NaN

**Vis en graph af de ti lande med flest døde til dags dato.**

In [5]:
#df[df['continent'].notna()].sort_values('total_cases', ascending=False).head(10)
top_10 = df[df['continent'].notna()].groupby('location').agg({'total_deaths': ['max']}).sort_values([('total_deaths', 'max')], ascending=False).head(10)

top_10.columns = ['total_deaths']
print(top_10.columns)
print(type(top_10))
top_10

Index(['total_deaths'], dtype='object')
<class 'pandas.core.frame.DataFrame'>

                total_deaths
location
United States       958437.0
Brazil              652216.0
India               515036.0
Russia              348467.0
Mexico              319604.0
Peru                210907.0
United Kingdom      162152.0
Italy               155782.0
Indonesia           149918.0
France              139312.0

In [4]:
df[df['continent'].notna()].sort_values('total_cases', ascending=False).head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
157995,USA,North America,United States,2022-03-05,79265726.0,15217.0,47989.857,958437.0,293.0,1425.714,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
157994,USA,North America,United States,2022-03-04,79250509.0,54501.0,52764.286,958144.0,1883.0,1497.857,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
157993,USA,North America,United States,2022-03-03,79196008.0,52292.0,55673.857,956261.0,1743.0,1553.714,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
157992,USA,North America,United States,2022-03-02,79143716.0,52355.0,57824.857,954518.0,2095.0,1725.000,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
157991,USA,North America,United States,2022-03-01,79091361.0,47031.0,62331.429,952423.0,1691.0,1830.000,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
157990,USA,North America,United States,2022-02-28,79044330.0,96464.0,68640.857,950732.0,2093.0,1890.286,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
157989,USA,North America,United States,2022-02-27,78947866.0,18069.0,66453.857,948639.0,182.0,1713.857,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
157988,USA,North America,United States,2022-02-26,78929797.0,48638.0,67034.286,948457.0,798.0,1744.714,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
157987,USA,North America,United States,2022-02-25,78881159.0,74868.0,64898.000,947659.0,2274.0,1723.429,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
157986,USA,North America,United States,2022-02-24,78806291.0,67349.0,75105.429,945385.0,2942.0,1752.000,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN